<!DOCTYPE html>
<html>
<head>
  <title>StartTheDarkApp</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://dserban.github.io/css/bootstrap.css">
  <style>
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    .floattop {
      float: top;
    }
    .dark {
      background-color: gray;
    }
    .header {
      background-color: #bbbbbb;
      color: white;
      padding: 10px;
    } 
    .floatleft {
      float: left;
    }
    .floatright {
      float: right;
    }
    .clearboth {
      clear: both;
    }
    .pushinwards {
      padding-left: 100px;
      padding-right: 100px;
    }
  </style>
</head>
<body>
<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
  <span class="brand" style="color: white;">&nbsp;&nbsp;&nbsp;StartTheDarkApp</span>
  <span class="brand nav pull-right" style="color: white;">Currently signed in as JennyTheCat</span>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="span8">
<div class="hero-unit">
  <table class="table table-striped">
    <tr>
      <td colspan=2>
        <h1 style="font-size: 300%;">Ce facem mai pe seară?</h1>
        <br>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Mergem la concert</h3>
        <span class="label label-info">Participă 22 oameni</span>
        <br>
        <strong>Participă:</strong> BambiTheBaby, Black.Magnolia, Cleopatra.In.Hyperspace, DreamCatcher, GlamourBlue, GuessWho, HappyAngelOfSnow, Have.We.Met.Before, JennyTheCat, KellyPenguinGRRRL, LifeEnigma, Light.On.The.Sky, Muzette, OchiiDinVis, PrincessLeia, Serendipity, ShinyPearl, SugarCoated, TaylorSwift, WonderWoman, Zana.Cea.Buna, ZborDeFluturi
        <br>
        <strong>(DarthCoder a venit cu propunerea.)</strong>
      </td>
      <td>
        <h3>&nbsp;</h3>
        <form action="/chooseactivity/5" method="post">
          <button type="submit" class="btn btn-inverse btn-mini" disabled>Vin&nbsp;și&nbsp;eu</button>
        </form>
        <h3>&nbsp;</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Fotbal nocturn</h3>
        <span class="label label-info">Participă 16 oameni</span>
        <br>
        <strong>Participă:</strong> AquaShark, Atacant, Bastard.Robot.From.Hell, DarthCoder, EtherealCereal, Frodo, Haiducul, JohnnyDaKid, Juventus, Klingon, Lionel.Messi, ManOnTheRun, Raider, Scorpion, The.Guy.Who.Said.Meh, ThisIsSpartaaa
        <br>
        <strong>(Juventus a venit cu propunerea.)</strong>
      </td>
      <td>
        <h3>&nbsp;</h3>
        <form action="/chooseactivity/8" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">Vin&nbsp;și&nbsp;eu</button>
        </form>
        <h3>&nbsp;</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Mergem la mall</h3>
        <span class="label label-info">Participă 5 oameni</span>
        <br>
        <strong>Participă:</strong> AccidentallyAwesome, ButtersFromSouthPark, CarbonFire, DarkAngel, DragonQuest
        <br>
        <strong>(GuessWho a venit cu propunerea.)</strong>
      </td>
      <td>
        <h3>&nbsp;</h3>
        <form action="/chooseactivity/13" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">Vin&nbsp;și&nbsp;eu</button>
        </form>
        <h3>&nbsp;</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Mergem la lasertag</h3>
        <span class="label label-info">Participă 4 oameni</span>
        <br>
        <strong>Participă:</strong> FreeStyler, Kernel.Panic, Konstruktor, Warrior
        <br>
        <strong>(Warrior a venit cu propunerea.)</strong>
      </td>
      <td>
        <h3>&nbsp;</h3>
        <form action="/chooseactivity/10" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">Vin&nbsp;și&nbsp;eu</button>
        </form>
        <h3>&nbsp;</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Mergem în club</h3>
        <span class="label label-info">Participă 3 oameni</span>
        <br>
        <strong>Participă:</strong> AstroDust, DuduBobo, Smarticus
        <br>
        <strong>(Smarticus a venit cu propunerea.)</strong>
      </td>
      <td>
        <h3>&nbsp;</h3>
        <form action="/chooseactivity/2" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">Vin&nbsp;și&nbsp;eu</button>
        </form>
        <h3>&nbsp;</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Ieșim la o bere în centrul vechi</h3>
        <span class="label label-info">Participă 1 om</span>
        <br>
        <strong>Participă:</strong> MythBuster
        <br>
        <strong>(Ronaldinho a venit cu propunerea.)</strong>
      </td>
      <td>
        <h3>&nbsp;</h3>
        <form action="/chooseactivity/9" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">Vin&nbsp;și&nbsp;eu</button>
        </form>
        <h3>&nbsp;</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Mergem la muzeu</h3>
        <strong>(ZborDeFluturi a venit cu propunerea.)</strong>
      </td>
      <td>
        <h3>&nbsp;</h3>
        <form action="/chooseactivity/11" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">Vin&nbsp;și&nbsp;eu</button>
        </form>
        <h3>&nbsp;</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Noaptea devoratorilor de whatever</h3>
        <strong>(ButtersFromSouthPark a venit cu propunerea.)</strong>
      </td>
      <td>
        <h3>&nbsp;</h3>
        <form action="/chooseactivity/7" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">Vin&nbsp;și&nbsp;eu</button>
        </form>
        <h3>&nbsp;</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Movie night</h3>
        <strong>(Light.On.The.Sky a venit cu propunerea.)</strong>
      </td>
      <td>
        <h3>&nbsp;</h3>
        <form action="/chooseactivity/4" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">Vin&nbsp;și&nbsp;eu</button>
        </form>
        <h3>&nbsp;</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Board games</h3>
        <strong>(ManOnTheRun a venit cu propunerea.)</strong>
      </td>
      <td>
        <h3>&nbsp;</h3>
        <form action="/chooseactivity/6" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">Vin&nbsp;și&nbsp;eu</button>
        </form>
        <h3>&nbsp;</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Mergem la o pizzerie</h3>
        <strong>(HappyAngelOfSnow a venit cu propunerea.)</strong>
      </td>
      <td>
        <h3>&nbsp;</h3>
        <form action="/chooseactivity/12" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">Vin&nbsp;și&nbsp;eu</button>
        </form>
        <h3>&nbsp;</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Mergem la o cafenea jazzy</h3>
        <strong>(WonderWoman a venit cu propunerea.)</strong>
      </td>
      <td>
        <h3>&nbsp;</h3>
        <form action="/chooseactivity/3" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">Vin&nbsp;și&nbsp;eu</button>
        </form>
        <h3>&nbsp;</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Mergem în parc</h3>
        <strong>(Muzette a venit cu propunerea.)</strong>
      </td>
      <td>
        <h3>&nbsp;</h3>
        <form action="/chooseactivity/14" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">Vin&nbsp;și&nbsp;eu</button>
        </form>
        <h3>&nbsp;</h3>
      </td>
    </tr>
    <tr>
      <form action="/addactivity" method="post">
        <td>
          <input type="text" name="activity_description" placeholder="Ce activitate propui?">
        </td>
        <td>
          <button type="submit" class="btn btn-primary btn-mini">Trimite</button>
        </td>
      </form>
    </tr>
  </table>
</div>
</div>
<div class="span4">
<div class="hero-unit">
  <table class="table table-striped">
    <tr>
      <td>
        <h1 style="font-size: 300%;">Sign in</h1>
        <br>
        <br>
        <form action="/signinas/2" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;AccidentallyAwesome</button>
        </form>
        <br>
        <form action="/signinas/3" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;AgentSmith</button>
        </form>
        <br>
        <form action="/signinas/4" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;AndriiPopa</button>
        </form>
        <br>
        <form action="/signinas/5" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;AquaShark</button>
        </form>
        <br>
        <form action="/signinas/6" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;AstroDust</button>
        </form>
        <br>
        <form action="/signinas/7" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;Atacant</button>
        </form>
        <br>
        <form action="/signinas/8" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;BambiTheBaby</button>
        </form>
        <br>
        <form action="/signinas/9" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;Bastard.Robot.From.Hell</button>
        </form>
        <br>
        <form action="/signinas/10" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;Black.Magnolia</button>
        </form>
        <br>
        <form action="/signinas/11" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;ButtersFromSouthPark</button>
        </form>
        <br>
        <form action="/signinas/12" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;CarbonFire</button>
        </form>
        <br>
        <form action="/signinas/13" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;Cleopatra.In.Hyperspace</button>
        </form>
        <br>
        <form action="/signinas/14" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;DarkAngel</button>
        </form>
        <br>
        <form action="/signinas/15" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;DarthCoder</button>
        </form>
        <br>
        <form action="/signinas/16" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;DragonQuest</button>
        </form>
        <br>
        <form action="/signinas/17" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;DreamCatcher</button>
        </form>
        <br>
        <form action="/signinas/18" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;DuduBobo</button>
        </form>
        <br>
        <form action="/signinas/19" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;EtherealCereal</button>
        </form>
        <br>
        <form action="/signinas/20" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;FrakkingToaster</button>
        </form>
        <br>
        <form action="/signinas/21" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;FreeStyler</button>
        </form>
        <br>
        <form action="/signinas/22" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;Frodo</button>
        </form>
        <br>
        <form action="/signinas/23" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;GlamourBlue</button>
        </form>
        <br>
        <form action="/signinas/24" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;GossipGRRRL</button>
        </form>
        <br>
        <form action="/signinas/25" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;GuessWho</button>
        </form>
        <br>
        <form action="/signinas/26" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;Haiducul</button>
        </form>
        <br>
        <form action="/signinas/27" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;HappyAngelOfSnow</button>
        </form>
        <br>
        <form action="/signinas/28" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;Have.We.Met.Before</button>
        </form>
        <br>
        <form action="/signinas/29" method="post">
          <button type="submit" class="btn btn-inverse btn-mini" disabled>As&nbsp;JennyTheCat</button>
        </form>
        <br>
        <form action="/signinas/30" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;JohnnyDaKid</button>
        </form>
        <br>
        <form action="/signinas/31" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;Juventus</button>
        </form>
        <br>
        <form action="/signinas/32" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;KellyPenguinGRRRL</button>
        </form>
        <br>
        <form action="/signinas/33" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;Kernel.Panic</button>
        </form>
        <br>
        <form action="/signinas/34" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;Klingon</button>
        </form>
        <br>
        <form action="/signinas/35" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;Konstruktor</button>
        </form>
        <br>
        <form action="/signinas/36" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;LifeEnigma</button>
        </form>
        <br>
        <form action="/signinas/37" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;Lionel.Messi</button>
        </form>
        <br>
        <form action="/signinas/38" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;Light.On.The.Sky</button>
        </form>
        <br>
        <form action="/signinas/39" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;ManOnTheRun</button>
        </form>
        <br>
        <form action="/signinas/40" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;Muzette</button>
        </form>
        <br>
        <form action="/signinas/41" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;MythBuster</button>
        </form>
        <br>
        <form action="/signinas/42" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;NapoleonPhoneApart</button>
        </form>
        <br>
        <form action="/signinas/43" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;OchiiDinVis</button>
        </form>
        <br>
        <form action="/signinas/44" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;Outlaw</button>
        </form>
        <br>
        <form action="/signinas/45" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;PrincessLeia</button>
        </form>
        <br>
        <form action="/signinas/46" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;Principessa</button>
        </form>
        <br>
        <form action="/signinas/47" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;Raider</button>
        </form>
        <br>
        <form action="/signinas/48" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;RipTheJacker</button>
        </form>
        <br>
        <form action="/signinas/49" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;Ronaldinho</button>
        </form>
        <br>
        <form action="/signinas/50" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;Scorpion</button>
        </form>
        <br>
        <form action="/signinas/51" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;Serendipity</button>
        </form>
        <br>
        <form action="/signinas/52" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;Sheriff</button>
        </form>
        <br>
        <form action="/signinas/53" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;ShinyPearl</button>
        </form>
        <br>
        <form action="/signinas/54" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;Sk8erboy</button>
        </form>
        <br>
        <form action="/signinas/55" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;Smarticus</button>
        </form>
        <br>
        <form action="/signinas/56" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;StoneColdSteve</button>
        </form>
        <br>
        <form action="/signinas/57" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;SugarCoated</button>
        </form>
        <br>
        <form action="/signinas/58" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;TaylorSwift</button>
        </form>
        <br>
        <form action="/signinas/59" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;The.Guy.Who.Said.Meh</button>
        </form>
        <br>
        <form action="/signinas/60" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;ThisIsSpartaaa</button>
        </form>
        <br>
        <form action="/signinas/61" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;Warrior</button>
        </form>
        <br>
        <form action="/signinas/62" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;WeaponX</button>
        </form>
        <br>
        <form action="/signinas/63" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;WonderWoman</button>
        </form>
        <br>
        <form action="/signinas/64" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;Zana.Cea.Buna</button>
        </form>
        <br>
        <form action="/signinas/65" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">As&nbsp;ZborDeFluturi</button>
        </form>
      </td>
    </tr>
    <tr>
      <td>
        <br>
        <br>
        <br>
        <br>
        <form action="/signout" method="post">
          <button type="submit" class="btn btn-inverse btn-mini">Sign out</button>
        </form>
      </td>
    </tr>
  </table>
</div>
</div>
</div>
</div>
</body>
</html>
